footer {
    background-color: $dark-gray;
    padding: 80px 0 45px;
    width: 100%;
    //display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    position: relative;

    @include respond(small) {
        padding: 44px 0 60px;
    }
}

.footer__inner {
    @extend %inner-container;
    @extend %flex-center-between;

    flex-direction: column-reverse;
    color:white;
    font-size:14px;

    @include respond(small) {
        flex-direction: row;
    }

    a:link, a:focus, a:visited {
        color:white;
        transition: all .5s linear;
    
        &:hover {
            color:tint($primary-blue, 40%);
        }
    }

    svg {
        fill:white;
        margin: 0 8px 0 8px;
        transition: all .5s linear;

        @include respond(small) {
            margin: 0 0 0 14px;
        }

        &:hover {
            fill:tint($primary-blue, 40%);
        }
    }
}

.footer__text {
    text-align: center;
    padding:16px 0 0 0;

    @include respond(small) {
        text-align: left;
        padding:0 0 0 0;
    }

    .footer__break-span {
        display:block;
        opacity: 0;
        height:4px;
        
        @include respond(small) {
            display: inline-block;
            opacity:1;
            height:auto;
        }
    }
}