%inner-container {
     margin: 0 auto;
     width: 90%;
     max-width: 1440px;
     position: relative;
}

%flex-center-center {
     display: flex;
     align-items: center;
     justify-content: center;
}

%flex-center-between {
     display: flex;
     align-items: center;
     justify-content: space-between;
}

%flex-left-between {
     display: flex;
     align-items: left;
     justify-content: space-between;
}