.blog-landing__interior {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

.blog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width:100%;
  background-color: #006bb4;
  margin:0 0 12px 0;

  &:hover .blog-item__read-more {
    opacity:1;
  }

  &:hover .blog-item__description {
    background-color:rgba(0,117,246,0.9);
  }

  &:hover .blog-item__description p {
    color:rgba(255,255,255,1);
  }

  @include respond(small) {
    width:32.8%;
  }
}

.blog-item__photo {
  position: relative;
}

.blog-item__description {
  position:absolute;
  display:flex;
  justify-content: center;
  align-items: center;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color:rgba(0,117,246,0);
  transition: all .5s ease-in;
}

.blog-item__description p {
  display:block;
  width:66%;
  margin:0 auto;
  font-size:18px;
  line-height: 1.8;
  text-align: center;
  color:rgba(255,255,255,0);
  transition: all .5s ease-in;
  transition-delay: .25s;
}

.blog-item__photo img {
  display:block;
  width: 100%;
}

.blog-item__details {
  padding:20px 26px 0 26px;
  color:white;

  h2 {
    width:66%;
    text-transform: initial;
    font-size:20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.2;
    margin:0 0 20px 0;
  }
}

.blog-item__read-more {
  position:absolute;
  background-color:$primary-red;
  text-transform: uppercase;
  font-size:16px;
  font-weight:700;
  padding: 14px 24px 14px 24px;
  border-top:4px solid white;
  border-left:4px solid white;
  color:white;
  bottom:0;
  right:0;
  opacity: 1;
  line-height:1;
  transition: all .25s ease-in;

  @include respond(small) {
    opacity:0;
  }
}