.blog-landing__interior {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

.blog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width:100%;
  background-color: $primary-blue;
  margin:0 0 12px 0;
  transition: all .25s linear;

  &:hover .blog-item__read-more {
    opacity:1;
  }

  @include respond(small) {
    width:32.8%;
  }
}

.blog-item__photo img {
  display:block;
  width: 100%;
}

.blog-item__details {
  padding:20px 26px 0 26px;
  color:white;

  h2 {
    padding:0 0 40px 0;
    text-transform: initial;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.2;
  }
}

.blog-item__read-more {
  position:absolute;
  background-color:$primary-red;
  text-transform: uppercase;
  font-size:16px;
  font-weight:700;
  padding: 14px 24px 14px 24px;
  border-top:4px solid white;
  border-left:4px solid white;
  color:white;
  bottom:0;
  right:0;
  opacity: 1;
  line-height:1;
  transition: all .25s ease-in;

  @include respond(small) {
    opacity:0;
  }
}