.contact-form__wrap {
     padding:0px 0 0px;

     @include respond(medium) {
          padding: 50px 0 60px;
     }
}

.contact-form__inner {
     display:flex;
     flex-direction: column;
     justify-content: space-between;

     @include respond(medium) {
          flex-direction: row;
     }
}

.contact-form__copy {
     width:100%;
     margin-bottom:50px;

     @include respond(medium) {
          width: 26%;
          margin-bottom:0;
     }

     hr {
          display: none;

          @include respond(medium) {
               display:block;
          }
     }

     svg {
          margin:0 12px 0 0;
          fill:$primary-blue;
     }

     svg, a:link, a:focus, a:visited {
          vertical-align: middle !important;
          color:#444444 !important;
     }
}

.contact-form__form {
     display:flex;
     justify-content: space-between;
     width:100%;

     @include respond(medium) {
          width:68%;
     }

     .wpcf7 {
          width:100%;
     }

     form {
          display:flex;
          flex-flow: column wrap;
          justify-content: space-between;
          width:100% !important;

          @include respond(small) {
               flex-flow: row wrap;
          }
     }

     .input-data {
          position: relative;
          width: 100%;
          margin-bottom: 30px;

          @include respond(small) {
               width: 46%;
          }
     }

     .input-data--100 {
          width: 100%;
          margin-bottom: 18px;
     }

     .input-data p {
          display:block;
          position:absolute;
          top:0;
          left:0;
          padding:12px 14px 16px 14px;
          margin:0;
          z-index: -1;
     }

     input, textarea {
          border: 2px solid $primary-blue;
          outline: none;
          background: rgba(153, 187, 224, 0);
          padding:14px;
          margin-top: 6px;
          z-index:10;
          transition: all .25s ease-in;
          width: 100%;

          &:focus {
               outline: 0;
               box-shadow: 0;
               background: rgba(153, 187, 224, .95);
               transition: all .25s ease-in;
          }
          &::placeholder {
               color: transparent;
          }
     }

     input[type=submit] {
          border: 2px solid $primary-blue;
          outline: none;
          background: $primary-blue;
          font-size: 18px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: .5px;
          color:white;
          padding:14px;
          margin-top: 6px;
          z-index:10;
          transition: all .25s ease-in;
          width: 100%;
          cursor: pointer;
          transition: all .25s ease-in;

          &:hover {
               background: white;
               color: $primary-blue;
               
          }
          &::placeholder {
               color: transparent;
          }
     }

     .wpcf7-response-output {
          width:100%;
          margin: 2em 0 1em;
          padding: 1em;
          border: 2px solid #00a0d2 !important;
     }
}



.contact-form__form-left, .contact-form__form-right {
     width:100%;

     @include respond(small) {
          width:48%;
     }

     > div {
          position: relative;
          overflow: hidden;
          margin:0 0 14px 0;
     }
}